<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.p2p.dao.AdminCustomMapper" >

    <sql id="Base_Column_List" >
      u.id as num,username,card,phone,balance,u.createdate,carimg,carnumber,gettime,residue,
      state,purpose,returnway,pledgeimg,applydate,house,bank,social,relation
    </sql>

    <select id="listItemsByPage" resultType="org.p2p.pojo.vo.AdminLoansCustom" >
        select
        <include refid="Base_Column_List" />
        from tb_user u
        LEFT JOIN tb_loans l ON u.id = l.uid LEFT JOIN tb_borrow b ON l.id = b.loansid
        <choose>
        <when test="order != null and order.sort != null and order.order != null">
            <foreach collection="order.orderParams" item="it" open="order by" separator="," close="" >
                ${it}
            </foreach>
        </when>
        <otherwise>
            ORDER BY applydate DESC
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}

    </select>

    <select id="countItems" resultType="_long">
        select count(1)
        from tb_item
    </select>

</mapper>