<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.p2p.dao.ProjectItemMapper" >
    <select id="getProjectItemById" resultType="org.p2p.pojo.vo.ProjectItem">
        SELECT p.*,b.carimg,b.applydate,b.gettime
        FROM tb_project p
        LEFT JOIN tb_borrow b ON p.bid=b.id
        WHERE p.id=#{id}
    </select>
</mapper>