<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.p2p.dao.TbInvestMapper" >
  <resultMap id="BaseResultMap" type="org.p2p.pojo.po.TbInvest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="bankcard" property="bankcard" jdbcType="VARCHAR" />
    <result column="earnings" property="earnings" jdbcType="DOUBLE" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="extends1" property="extends1" jdbcType="VARCHAR" />
    <result column="extends2" property="extends2" jdbcType="VARCHAR" />
    <result column="extends3" property="extends3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, bankcard, earnings, money, extends1, extends2, extends3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.p2p.pojo.po.TbInvestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_invest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_invest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.p2p.pojo.po.TbInvestExample" >
    delete from tb_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.p2p.pojo.po.TbInvest" >
    insert into tb_invest (id, userid, bankcard, 
      earnings, money, extends1, 
      extends2, extends3)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{bankcard,jdbcType=VARCHAR}, 
      #{earnings,jdbcType=DOUBLE}, #{money,jdbcType=DOUBLE}, #{extends1,jdbcType=VARCHAR}, 
      #{extends2,jdbcType=VARCHAR}, #{extends3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.p2p.pojo.po.TbInvest" >
    insert into tb_invest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="bankcard != null" >
        bankcard,
      </if>
      <if test="earnings != null" >
        earnings,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="extends1 != null" >
        extends1,
      </if>
      <if test="extends2 != null" >
        extends2,
      </if>
      <if test="extends3 != null" >
        extends3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="bankcard != null" >
        #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="earnings != null" >
        #{earnings,jdbcType=DOUBLE},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="extends1 != null" >
        #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null" >
        #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null" >
        #{extends3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.p2p.pojo.po.TbInvestExample" resultType="java.lang.Integer" >
    select count(*) from tb_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_invest
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.bankcard != null" >
        bankcard = #{record.bankcard,jdbcType=VARCHAR},
      </if>
      <if test="record.earnings != null" >
        earnings = #{record.earnings,jdbcType=DOUBLE},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DOUBLE},
      </if>
      <if test="record.extends1 != null" >
        extends1 = #{record.extends1,jdbcType=VARCHAR},
      </if>
      <if test="record.extends2 != null" >
        extends2 = #{record.extends2,jdbcType=VARCHAR},
      </if>
      <if test="record.extends3 != null" >
        extends3 = #{record.extends3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_invest
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      bankcard = #{record.bankcard,jdbcType=VARCHAR},
      earnings = #{record.earnings,jdbcType=DOUBLE},
      money = #{record.money,jdbcType=DOUBLE},
      extends1 = #{record.extends1,jdbcType=VARCHAR},
      extends2 = #{record.extends2,jdbcType=VARCHAR},
      extends3 = #{record.extends3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.p2p.pojo.po.TbInvest" >
    update tb_invest
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="bankcard != null" >
        bankcard = #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="earnings != null" >
        earnings = #{earnings,jdbcType=DOUBLE},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="extends1 != null" >
        extends1 = #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null" >
        extends2 = #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null" >
        extends3 = #{extends3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.p2p.pojo.po.TbInvest" >
    update tb_invest
    set userid = #{userid,jdbcType=INTEGER},
      bankcard = #{bankcard,jdbcType=VARCHAR},
      earnings = #{earnings,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE},
      extends1 = #{extends1,jdbcType=VARCHAR},
      extends2 = #{extends2,jdbcType=VARCHAR},
      extends3 = #{extends3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>