<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.p2p.dao.TbProjectMapper" >
  <resultMap id="BaseResultMap" type="org.p2p.pojo.po.TbProject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="rate" property="rate" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="projectstate" property="projectstate" jdbcType="INTEGER" />
    <result column="guarantee" property="guarantee" jdbcType="VARCHAR" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="extends1" property="extends1" jdbcType="VARCHAR" />
    <result column="extends2" property="extends2" jdbcType="VARCHAR" />
    <result column="extends3" property="extends3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, money, rate, state, projectstate, guarantee, endtime, createdate, extends1, extends2, 
    extends3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.p2p.pojo.po.TbProjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.p2p.pojo.po.TbProjectExample" >
    delete from tb_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.p2p.pojo.po.TbProject" >
    insert into tb_project (id, money, rate, 
      state, projectstate, guarantee, 
      endtime, createdate, extends1, 
      extends2, extends3)
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE}, #{rate,jdbcType=DOUBLE}, 
      #{state,jdbcType=INTEGER}, #{projectstate,jdbcType=INTEGER}, #{guarantee,jdbcType=VARCHAR}, 
      #{endtime,jdbcType=TIMESTAMP}, #{createdate,jdbcType=TIMESTAMP}, #{extends1,jdbcType=VARCHAR}, 
      #{extends2,jdbcType=VARCHAR}, #{extends3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.p2p.pojo.po.TbProject" >
    insert into tb_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="projectstate != null" >
        projectstate,
      </if>
      <if test="guarantee != null" >
        guarantee,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="extends1 != null" >
        extends1,
      </if>
      <if test="extends2 != null" >
        extends2,
      </if>
      <if test="extends3 != null" >
        extends3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="projectstate != null" >
        #{projectstate,jdbcType=INTEGER},
      </if>
      <if test="guarantee != null" >
        #{guarantee,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="extends1 != null" >
        #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null" >
        #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null" >
        #{extends3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.p2p.pojo.po.TbProjectExample" resultType="java.lang.Integer" >
    select count(*) from tb_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_project
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DOUBLE},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=DOUBLE},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.projectstate != null" >
        projectstate = #{record.projectstate,jdbcType=INTEGER},
      </if>
      <if test="record.guarantee != null" >
        guarantee = #{record.guarantee,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extends1 != null" >
        extends1 = #{record.extends1,jdbcType=VARCHAR},
      </if>
      <if test="record.extends2 != null" >
        extends2 = #{record.extends2,jdbcType=VARCHAR},
      </if>
      <if test="record.extends3 != null" >
        extends3 = #{record.extends3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_project
    set id = #{record.id,jdbcType=INTEGER},
      money = #{record.money,jdbcType=DOUBLE},
      rate = #{record.rate,jdbcType=DOUBLE},
      state = #{record.state,jdbcType=INTEGER},
      projectstate = #{record.projectstate,jdbcType=INTEGER},
      guarantee = #{record.guarantee,jdbcType=VARCHAR},
      endtime = #{record.endtime,jdbcType=TIMESTAMP},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      extends1 = #{record.extends1,jdbcType=VARCHAR},
      extends2 = #{record.extends2,jdbcType=VARCHAR},
      extends3 = #{record.extends3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.p2p.pojo.po.TbProject" >
    update tb_project
    <set >
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="projectstate != null" >
        projectstate = #{projectstate,jdbcType=INTEGER},
      </if>
      <if test="guarantee != null" >
        guarantee = #{guarantee,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="extends1 != null" >
        extends1 = #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null" >
        extends2 = #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null" >
        extends3 = #{extends3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.p2p.pojo.po.TbProject" >
    update tb_project
    set money = #{money,jdbcType=DOUBLE},
      rate = #{rate,jdbcType=DOUBLE},
      state = #{state,jdbcType=INTEGER},
      projectstate = #{projectstate,jdbcType=INTEGER},
      guarantee = #{guarantee,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      extends1 = #{extends1,jdbcType=VARCHAR},
      extends2 = #{extends2,jdbcType=VARCHAR},
      extends3 = #{extends3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>