<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.p2p.dao.TbUserGetMoneyMapper" >

    <select id="listBorrows" resultType="org.p2p.pojo.vo.AdminLoansCustom" >
        select
        <include refid="Base_Column_List" />
        from tb_user u
        RIGHT JOIN tb_borrow b ON u.id=b.uid
        WHERE loans = 1
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <foreach collection="order.orderParams" item="it" open="order by" separator="," close="" >
                    ${it}
                </foreach>
            </when>
            <otherwise>
                ORDER BY applydate DESC
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}

    </select>

    <select id="countItems" resultType="_long">
        select count(1)
        from tb_borrow
    </select>

    <select id="getBorrwoById" resultType="org.p2p.pojo.vo.AdminLoansCustom">
        select
        <include refid="Base_Column_Item" />
        from tb_user u
        LEFT JOIN tb_borrow b ON u.id=b.uid
        WHERE b.id = #{id}
    </select>

    <update id="anIntItem">
        UPDATE tb_borrow
        set state = #{state}
        WHERE id = #{id}
    </update>


    <select id="listProjects" resultType="org.p2p.pojo.vo.AdminLoansCustom" >
        select
        <include refid="Base_Column_List" />
        from tb_user u
        LEFT JOIN tb_borrow b ON u.id=b.uid
        WHERE loans = 1 and state = 1
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <foreach collection="order.orderParams" item="it" open="order by" separator="," close="" >
                    ${it}
                </foreach>
            </when>
            <otherwise>
                ORDER BY applydate DESC
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}

    </select>

    <select id="countProjects" resultType="_long">
        select count(1)
        from tb_borrow
        WHERE state = 1
    </select>
</mapper>